<html>
  <body>

    <button>Send post message from web</button>
    <div>Post message log</div>
    <textarea style="height: 50%; width: 100%;" readonly></textarea>

    <script>
        var log = document.querySelector("textarea");

        document.querySelector("button").onclick = function() {
            console.log("Send post message");

            logMessage("Sending post message from web..");
            window.postMessage("Post message from web", "*");
        }
/*
        document.addEventListener("message", function(event) {
            console.log("Received post message", event);

            logMessage(event.data);
        }, false);
      */
        function logMessage(message) {
            log.append((new Date()) + " " + message + "\n");
        }

    </script>

  </body>
</html>
